@import "fonts";
@import "colors";

html {
    color: $foreground;
    background: $background;
    font-family: $main-font;
}

a {
    color: $main-color;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0px;
}

hr {
    border: 1px solid transparentize($color: $foreground, $amount: 0.95);
}

label {
    margin-bottom: 6px;
}

$inputs-padding: 10px;

input[type="text"], input[type="password"] {
    padding: $inputs-padding;
}

button, input[type="submit"] {
    padding: $inputs-padding;
    border: none;
    font-weight: bold;
    color: white;
    background-color: $main-color;

    &:hover {
        background-color: darken($color: $main-color, $amount: 10);
    }
}

.btn-secondary {
    color: $foreground !important;
    background-color: darken($color: $background, $amount: 4) !important;

    &:hover {
        background-color: darken($color: $background, $amount: 10) !important;
    }
}
